<h2>Carrito {{cid}}</h2>

    <h2>Listado de productos</h2>

{{#if inCart}}

<ul>

    {{#each inCart}}

    <li>

        {{#if product}}

        Nombre: {{product.title}} <br>
        Precio: ${{product.price}} <br>
        Categoria: {{product.category}} <br>
        ID: {{product._id}} <br>
        Codigo: {{product.code}} <br>

        {{else}}

        <h2>Producto no encontrado</h2>

        {{/if}}

    </li>

    {{/each}}
    
</ul>

{{else}}

<p>El carrito esta vacio</p>

{{/if}}

<a href="/realtimeproducts">Ver productos</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>