<h2>Inventario</h2>

<ul>

    <h2>Listado de productos</h2>

    {{#each products}}

    <li id="productItem">

        Nombre: {{title}} <br>
        Precio: ${{price}} <br>
        Categoria: {{category}} <br>
        ID: {{id}} <br>
        Codigo: {{code}} <br>

        <button type="submit" action="/realtimeproducts" id="quitarProducto" method="delete">Quitar producto</button>

    </li>

    {{/each}}

</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>