<h2>Inventario</h2>

<hr>

<h1>Ingreso de productos nuevos</h1>

<form id="nuevoProducto" action="/realtimeproducts" method="post">

    <input type="string" name="title" id="title" placeholder="title" required>
    <input type="string" name="description" id="description" placeholder="description" required>
    <input type="number" name="code" id="code" placeholder="code" required>
    <input type="number" name="price" id="price" placeholder="price" required>
    <input type="boolean" name="status" id="status" placeholder="status" required>
    <input type="number" name="stock" id="stock" placeholder="stock" required>
    <input type="string" name="category" id="category" placeholder="category" required>
    <input type="object" name="thumbnails" id="thumbnails" placeholder="thumbnails">
    <button type="submit">Cargar producto</button>

</form>

<ul>

    <h2>Listado de productos</h2>

    {{#each products}}

    <li id="productItem">

        Nombre: {{title}} <br>
        Precio: ${{price}} <br>
        Categoria: {{category}} <br>
        ID: {{id}} <br>
        Codigo: {{code}} <br>

        <button type="submit" class="botonEliminar">Eliminar producto</button>

    </li>

    {{/each}}

</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>